<span>
	<div data-template class="product_small">
    <table>
        <tr>
            <td>
                <table class="product_small_header">
                    <tr>
                        <td>
                            <div class="product_small_img">
                                <img src="" data-src="../../data/images/{{PRODUCTID.value}}.jpg" alt="{{THUMBNAIL.label}}"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
            
                            <table class="product_small_body">
                    <tr>
                        <td>
                            <div><span class="product_title_small margin_small" style="font-size:150%">{{SALESORDERID}}</span><span style="margin-left:5px;font-weight:300;color:#000;font-size:120%">{{PRODUCTID}}</span></div>
                        </td>
                    </tr>
                </table>
                
                
                <!--  table class="product_small_body">
                    <tr>
                        <td>
                            <div class="product_title_small margin_small">{{PRODUCTID}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="attributeName"><div class="margin_small">Price<div></td>
                        <td class="attributeValue"><div class="margin_small">{{GROSSAMOUNT}} {{CURRENCY}}<div></td>
                    </tr>
                    <tr>
                        <td class="attributeName"><div class="margin_small">CompanyName<div></td>
                        <td class="attributeValue"><div class="margin_small">{{COMPANYNAME}}<div></td>
                    </tr>
                </table -->
            </td>
         </tr>
    </table>
 </div>
 <div data-template-fallback>Sorry, JavaScript required!</div>
</span>
